{% load rest_framework %} {% load humanize %}
<!DOCTYPE html>
<html>
  <head>
    <title>Task Detail</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="mt-3 d-flex justify-content-between">
      <div>
        <a href="{% url 'task-list-create' %}" class="btn btn-secondary"
          >Back to List</a
        >
      </div>
      <div>
        {% if user.is_authenticated %}
        <a href="{% url 'login' %}" class="btn btn-danger">Logout</a>
        {% endif %}
      </div>
    </div>
    <div class="container mt-5">
      <h1>Task: {{ task.title }}</h1>
      <br />
      <p>Description: {{ task.description }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Created By: {{ task.created_by.username }}</p>

      <p class="created-at-value">Created At: {{ task.created_at }}</p>
      <!-- Display Updated At if not null -->
      {% if task.updated_at %}
      <p class="updated-at-value">Updated At: {{ task.updated_at }}</p>
      {% endif %} {% if user.is_authenticated and task.created_by == user %}
      <!-- Edit and Delete Buttons -->
      <div class="row no-gutters">
        <div class="col-auto">
          <!-- Edit Task Button -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#editTaskModal"
          >
            Edit Task
          </button>
        </div>
        <div class="col-auto">
          <!-- Delete Task Form -->
          <form
            id="deleteTaskForm"
            action="{% url 'task-detail' task.pk %}"
            method="post"
          >
            {% csrf_token %}
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-danger">Delete Task</button>
          </form>
        </div>
      </div>
      {% endif %}

      <!-- Edit Task Modal -->
      <div
        class="modal fade"
        id="editTaskModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="editTaskModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editTaskModalLabel">Edit Task</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form
                id="editTaskForm"
                action="{% url 'task-detail' task.pk %}"
                method="post"
              >
                {% csrf_token %}
                <input type="hidden" name="_method" value="put" />
                {% render_form serializer %}
                <input type="submit" value="Save" class="btn btn-primary" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Display Comments -->
      {% if comments %}
      <h2 class="mt-5">Comments:</h2>
      <div class="list-group mt-3">
        {% for comment in comments %}
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ comment.created_by.username }}</h5>
            <small>{{ comment.created_at|naturaltime }}</small>
            {% if comment.created_by == user %}
            <form action="{% url 'comment-delete' comment.id %}" method="get">
              <button
                type="submit"
                class="btn btn-sm btn-danger"
                title="Delete Comment"
              >
                Delete
              </button>
            </form>
            {% endif %}
          </div>
          <p class="mb-1">{{ comment.text }}</p>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No comments yet.</p>
      {% endif %} {% if user.is_authenticated %}
      <form action="{% url 'task-detail' task.pk %}" method="post" class="mt-3">
        {% csrf_token %}
        <input type="hidden" name="task" value="{{ task.pk }}" />
        <div class="form-group">
          <label for="text">Your Comment:</label>
          <textarea
            id="text"
            name="text"
            rows="3"
            class="form-control"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Add Comment</button>
      </form>
      {% else %}
      <p>Please <a href="{% url 'login' %}">login</a> to add a comment.</p>
      {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function reloadPage() {
        window.location.reload(true);
      }
      $("#editTaskModal").on("hidden.bs.modal", function () {
        reloadPage(); // Call the reload function
      });
      $("#editTaskForm").submit(function (event) {
        event.preventDefault();
        var form = this;
        var data = new FormData(form);

        fetch(form.action, {
          method: "PUT",
          body: data,
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
        })
          .then((response) => {
            if (response.ok) {
              $("#editTaskModal").modal("hide");
            } else {
              throw new Error("Network response was not ok.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    </script>
    <script>
      $("#deleteTaskForm").submit(function (event) {
        event.preventDefault();
        var form = this;

        fetch(form.action, {
          method: "DELETE",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
        })
          .then((response) => {
            if (response.ok || response.status === 204) {
              window.location.href = "{% url 'task-list-create' %}";
            } else {
              throw new Error("Network response was not ok.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      });
    </script>
  </body>
</html>
